/*Подключение стилей элементов блока*/
@import url('./__img/add-button__img.css');

.add-button {
  border: 0;
  border-radius: 0;
  background: none;
  padding: 0;
  min-height: 50px;
  align-self: center;
  transition: opacity 0.7s ease;
}

/*Псевдоклассы для изменения стилей при взаимодействии с пользователем*/
.add-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.add-button:active {
  outline: none;
}

.add-button:focus {
  outline: none;
}