/*Подключение стилей элементов блока*/
@import url('./__img/popup-card__img.css');
@import url('./__title/popup-card__title.css');
@import url('./__close-button/popup-card__close-button.css');

/*Основные стилии блока*/
.popup-card {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  grid-template-rows: repeat(3, min-content);
}