/*Стили модификатора блока для открытия/закрытия попапа*/
.new-card_open-close {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}