.popup__prof {
  width: 100%;
  height: 27.4px;
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/*Псевдоклассы для изменения стилей при взаимодействии с пользователем*/
.popup__prof:active {
  outline: 0;
}

.popup__prof:focus {
  outline: 0;
}

/*Медиа-запросы для регулирования свойств при разном разрешении экрана*/
@media screen and (max-width: 320px) {
  .popup__prof {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
  }
}